PREFIX=.
AUTO_REACTION=off
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/0b918caf8e6440bc67fd5.jpg 
BOT_MODE=private
DATABASE_URL=postgresql://higan_user:knsj2IMjZFTst3PbRyrMfeV7HX0hSPYA@dpg-cr1ab43tq21c73cqpj80-a.oregon-postgres.render.com/higan
OWNER_NAME=Sekiryuutei 
OWNER_NUMBER=224620780851
WARN_COUNT=0
STARTING_MESSAGE=on
PRESENCE=1
CHAT_BOT=off
SESSION_ID='' 
